# Credentials & Secrets
.env

# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Model Files & Pickles (Allowing baseline for deployment)
# model/*.pkl
# models/*.pkl
# *.pkl
*.npy

# Data reports (Local)
Data/reports/*.json
Data/incoming/labeled/*.csv
Data/incoming/unlabeled/*.csv

# IDEs
.vscode/
.idea/
.pytest_cache/
